


html {
	min-height: 100%;
	box-sizing: border-box;
	width: 100%
}
/*
*,
*:before,
*:after {
	box-sizing: inherit;
}
*/
body {
	position: relative;
	padding-bottom: 6rem;
	margin: 0;
	background: url("../images/bg.png");
	min-height: 100%;
	justify-content: center;

}

header {
	background: #FFF;
	border-bottom: 2px solid #CCC;
	margin-top: -20px;
	width: 100%;
	display: block;
}

.headerContent {
	width: 960px;
	display: block;
	margin: 0 auto -4px auto ;
	height: 83px;
}

.logo {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	text-align: center;
}

.logoArea {
	background: #4aaaa5;
	float: left;
	width: 30%
}
.navItems li {
	float: right;
	display: inline;
	padding-top: 20px;
	margin: 10px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navItems a:hover li {
	text-decoration: underline;
	color: #4aaaa5;
}

#wrapper {
	width: 1024px;
	margin: 40px auto;
/*	display: inline-block;*/
}

.content {
	display: inline-block;
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
}

.main {
	float: left;
	background: white;
	width: 64%;
	display: inline-block;
	padding: 20px;
	border: 1px solid #dddddd;
}

.sectionTitle {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	border-bottom: 2px solid #777;
	margin-bottom: 10px;
}

.sidebar {
	width: 26%;
	display: inline-block;
	float: right;
	background: white;
	border: 1px solid #dddddd;
	padding: 10px 20px 20px 20px;
}

.profileImg {
	float: left;
	display: inline-block;
	margin-right: 10px;
	margin-top: 8px;
	width: 33%;
}

.main p {
	float: right;
	display: inline-block;
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 30px;
}

.mainContent {
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.sectionTitle h3 {
	text-align: center;
}

#socialLinks li {
	display: inline;
}

#socialLinks {
	padding: 0px;
	text-align: center;
	margin: 0 auto;
}

.social {
	width: 65px;
	height: 65px;
}

.footer {
	position: fixed;
	right: 0
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	text-align: center;
	color: white;
	background: #666666;
	border-top: 10px solid #4aaaa5;
	display: block;
}
.footer h5 {
	display: inline-block;
	width: 100%;
	margin-top: 40px;
}


#socialLinks li a:hover img {
	border: 2px solid #4aaaa5;
}


form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

input[type="text"] {
	width: 100%;
}

input[type="email"] {
	width: 100%;
}

textarea {
	width: 100%;
}

input[type="submit"] {
	height: 40px;
	width: 100px;
	font-size: 16px;
	background: #4aaaa5;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
}

#port1 {
	background-image: url("../images/img1.jpg");
}

#port2 {
	background-image: url("../images/img2.jpg");
}

#port3 {
	background-image: url("../images/img3.jpg");
}

#port4 {
	background-image: url("../images/img4.jpg");
}

#port5 {
	background-image: url("../images/img5.jpg");
}

#port6 {
	background-image: url("../images/img6.jpg");
}

.portItem {
	height: auto;
	width: 250px;
	background: pink;
	display: inline-block;
	margin: 15px;
	border: 1px solid #CCC;
	background-image: url("../images/img1.jpg");
}

.portLabel {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	width: 100%;
	background: #4aaaa5;
	margin-top: 140px;
	text-align: center;
	color: white;
	padding: 10px 0;
}

/*@media (max-width: 980px) {

}

@media (max-width: 768px) {

}

@media (max-width: 640px) {
	header {
		position: static;
	}

}
*/


@media screen and (max-width: 980px) {
	#wrapper {
		width: 800px;
	}

	.main {
		width: 55%;
	}

	.profileImg {
	display: block;
	margin-right: 10px;
	margin-top: 8px;
	width: 100%;
	height: auto;
}

	.headerContent {
		width: 800px;
	}

	.footer {
		position: absolute;
	}
}

@media screen and (max-width: 768px) {
	#wrapper {
		width: 700px;
	}

	.main {
		width: 100%;
		float: none;
		padding: 20px 0;
	}

	.sectionTitle,
	.mainContent {
		padding: 0 20px;
	}

	.sidebar {
		margin-top: 40px;
		width: 100%;
		float: none;
		padding: 20px 0;
		margin-bottom: 40px;
	}

	.profileImg {
	float: left;
	display: inline;
	margin-right: 10px;
	margin-top: 8px;
	width: 50%;
	height: auto;
}

	.headerContent {
		width: 700px;
	}

	.logoArea {
	width: 40%;
}
}

@media screen and (max-width: 640px) {
	#wrapper {
		width: 550px;
	}

	.main {
		width: 100%;
		float: none;
		padding: 20px 0;
	}

/*	.sectionTitle,
	.mainContent {
		padding: 0 20px;
	}*/

	.sidebar {
		margin-top: 40px;
		width: 100%;
		float: none;
		padding: 20px 0;
		margin-bottom: 40px;
	}

	.profileImg {
	width: 100%;
	float: none;
	display: block;
	margin: 10px auto;
	height: auto;
}

	.headerContent {
		width: 100%;
		height: 100%
	}

	.logoArea {
	width: 100%;
}
	header {
		position: static;
	}
	.navigation {
		width: 100%;
		background: white;
		height: 130px;
		text-align: center;
	}

	.navItems {
		padding: 95px 0 0 0;
		width: 100%;
	}
	.navItems li {
	width: 100%; 
	color: black;
	float: none;
	display: inline;
	padding-top: 20px;
	margin: 10px 30px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

	.navItems a {
		color: black;
		text-decoration: none;
	}
}
